#Ignorera privata nycklar
*.pem
id_rsa
id_rsa.pub

#Ignorera Composer-autentisering
composer.auth.json

#Ignorera miljövariabler
.env
.env.local

client_secret.json
google_ads_php.ini
google_ads_php.ini.example
token.json
fb_token.json
/vendor/
google_ads_php.ini
