This page is a model for how you set up secret credentials. Remove .example from file name to use in the application

[GOOGLE_ADS]
developerToken = 
loginCustomerId = 
apiVersion =

[OAUTH2]
clientId =
clientSecret =
refreshToken=
